<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinwn.capsule.mapper.WishEntityMapper">
  <resultMap id="BaseResultMap" type="com.sinwn.capsule.entity.WishEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="public_status" jdbcType="INTEGER" property="publicStatus" />
    <result column="match_status" jdbcType="INTEGER" property="matchStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sinwn.capsule.entity.WishEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <resultMap id="ContentResultMap" type="com.sinwn.capsule.domain.response.WishBean" >
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, email, receive_time, public_status, match_status, status, create_time
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    content
  </sql>

  <select id="selectWishList" resultMap="ContentResultMap">
    SELECT
        w.id,
        w.content,
        w.create_time,
        u.nick_name,
        u.avatar
    FROM
        c_wish w,
        t_user u
    WHERE
        w.`status` = 1
        AND w.public_status = 1
        AND w.user_id = u.id
  </select>

    <select id="selectByWishId" resultMap="ContentResultMap" parameterType="java.lang.Integer">
    SELECT
        w.id,
        w.content,
        w.create_time,
        u.nick_name,
        u.avatar
    FROM
        c_wish w,
        t_user u
    WHERE
        w.`status` = 1
        AND w.public_status = 1
        AND w.user_id = u.id
        AND w.id = #{wishId,jdbcType=INTEGER}
  </select>
</mapper>